@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 26, 26, 27;
  }
}

@layer base {
  body {
    @apply text-text-primary-light dark:text-text-primary-dark bg-background-light dark:bg-background-dark;
  }
}

@layer components {
  .hover-effect {
    @apply transition-colors duration-200 ease-in-out hover:bg-gray-100 dark:hover:bg-gray-800;
  }

  .card {
    @apply bg-white dark:bg-gray-800 rounded-lg shadow-sm p-4;
  }

  .button-primary {
    @apply px-4 py-2 bg-accent-yellow hover:bg-accent-yellow-hover text-white rounded-full font-medium transition-colors;
  }

  .button-secondary {
    @apply px-4 py-2 bg-background-alt-light dark:bg-background-alt-dark hover:bg-gray-200 dark:hover:bg-gray-700 rounded-full transition-colors;
  }
}
